<div class="post-book-comparison-table table-responsive">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th data-col="current"><%= current_label.capitalize %> Post Count</th>
        <th data-col="past"><%= past_label.capitalize %> Post Count</th>
        <th data-col="compare"><%= "Compared to #{past_label}" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-col="current"><%= current_books %></td>
        <td data-col="past"><%= past_books %></td>
        <td data-col="compare"><%= comparison_percentage(current_books, past_books) %></td>
      </tr>
    </tbody>
  </table>
</div>